.board {
	height: 500px;
	width: 500px;
	display: flex;
	box-sizing: border-box;
}

.column {
	display: flex;
	flex-direction: column;
}

.header {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
	margin-bottom: 16px;
	font-weight: bold;
	color: #4267b2;
	font-size: 40px;
}

.cell {
	box-sizing: border-box;
	width: 100px;
	height: 100px;
	border: 1px solid #e1e1e1;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 21px;
	font-weight: bold;
	color: #4267b2;
	cursor: pointer;
}

.cell:hover {
	background-color: #f1f1f1;
}

.cellSelected,
.cellSelectedAlways {
	composes: cell;
	background-color: #0558d3;
	color: white;
}

.cellSelectedAlways {
	cursor: default;
}
.cellSelectedAlways:hover {
	background-color: #0558d3;
}

.cellSelected:hover {
	background-color: #4267b2;
}


