:global(body) {
  height: 100%;
  width: 100%;
}

:global(#root) {
  height: 100%;
  width: 100%;
}

.bingo {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px 0;
}

.controls button {
  outline: 0;
  padding: 16px;
  width: auto;
  text-align: center;
  font-size: 17px;
  cursor: pointer;
  border-radius: 3px;
  border: 0;
  color: white;
  background-color: #ff454f;
}

.controls button:hover {
  background-color: #e6637d;
}

.contents {
  display: flex;
  align-items: center;
  justify-content: center;
}
